*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fls
*.lof
*.log
*.lot
*.maf
*.mtc?
*.mtc*
*.out
*.pdf
*.synctex.gz
*.toc
*.lol
*.ilg
*.ind
*.ist
*.maf
*.uvf
*.xref
*.run.xml
*.fdb_latexmk
*.latexmk*
.pdfsync
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.tdo
.synctex(busy)
# Build directories
_minted*
build/
out/
latexbuild/
.latexmkrc
.fls
.nav
.snm
